Release.win32/
Debug.win32/
*.db
*.ipch
*.opendb
*.suo
*.db-shm
*.db-wal
*.pdb
.vs/
*.DS_Store
*.AppleDouble
*.LSOverride
cocos2d/build/build/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
proj.ios_mac/build/
proj.ios_mac/*.xcodeproj/project.xcworkspace
proj.ios_mac/*.xcodeproj/xcuserdata/
*.pch