Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/facebook-logo@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/facebook-logo.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/facebook-logo@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadLandscape@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPadPortrait@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/loginBackgroundIPhonePortrait@2x.jpg
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/silver-button-normal@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/Resources/FBUserSettingsViewResources.bundle/images/silver-button-pressed@2x.png
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBOpenGraphActionShareDialogParams.h
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBSessionManualTokenCachingStrategy.h
Assignment/cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/Current/DeprecatedHeaders/FBTaggableFriendPickerViewController.h
Release.win32/
Debug.win32/
*.db
*.ipch
*.opendb
*.suo
*.db-shm
*.db-wal
.vs/