<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_Back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,82}</string>
                <key>spriteSourceSize</key>
                <string>{65,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{65,0},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{129,0},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Front1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{194,0},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Front2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{259,0},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Front3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{324,0},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{389,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{448,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{507,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{566,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{625,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{684,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{743,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:560e523e5709c4ffb722c45470d76eca:2db6d6fbdab27562bfe82aaf91999304:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
