<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RunShoot (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1180,337},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{295,0},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{590,0},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{885,0},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1180,0},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{0,337},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{295,337},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{590,337},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunShoot (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{885,337},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assignment_sprite2.png</string>
            <key>size</key>
            <string>{1475,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42cce1ee9bbde9faa9fc3a4172c84029:1a8588fc7b4dbd0d10161befdedfaa8d:f02ddec23a3ef03d6392083fcef4d7f9$</string>
            <key>textureFileName</key>
            <string>assignment_sprite2.png</string>
        </dict>
    </dict>
</plist>
