<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{361,668},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{361,0},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{722,0},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{1083,0},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{0,334},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{361,334},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{722,334},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{1083,334},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,334}</string>
                <key>spriteSourceSize</key>
                <string>{361,334}</string>
                <key>textureRect</key>
                <string>{{0,668},{361,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{722,668},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{0,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1017,668},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1312,668},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{0,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{295,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{590,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{885,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1180,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1475,1005},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{295,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1180,1679},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{590,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{885,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1180,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{1475,1342},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{0,1679},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{295,1679},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{590,1679},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{295,337}</string>
                <key>textureRect</key>
                <string>{{885,1679},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assignment_sprite.png</string>
            <key>size</key>
            <string>{1770,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e020ae477e74d636d2ca405b147bb1:6bfcb1861593c2fe721971e4c2565793:9a42cf57787dfd4f8b31698a8bbba3cd$</string>
            <key>textureFileName</key>
            <string>assignment_sprite.png</string>
        </dict>
    </dict>
</plist>
